.services-container {
  padding: 5.556vw;
  background-color: #f9f9f9;
  text-align: center;

  h1 {
    color: #333;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .grid {
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
      padding: 0 2rem;
    }
  }

  .services-grid {
    margin: 4.861vw 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    justify-items: center;

    .service-card {
      position: relative;
      overflow: hidden;
      max-width: 300px;
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
      }

      .service-content {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 1rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translateY(100%);
        transition: transform 0.5s ease-in-out;

        h2 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1rem;
          line-height: 1.5;
        }
      }

      &:hover .service-content {
        transform: translateY(0);
      }
    }
  }

  @media (max-width: 768px) {
    .services-grid {
      width: auto;
      height: auto;
    }
  }

  @media (max-width: 600px) {
    .services-grid {
      display: flex;
      overflow-x: auto;
      flex-wrap: nowrap;
      gap: 1rem;
      padding: 1rem 0;
      scrollbar-width: none;
    }

    .service-card {
      min-width: 250px;
      margin-right: 1rem;  
    }
  }

  @media (max-width: 480px) {
    .services-grid {
      grid-template-columns: 1fr;
    }
    .service-card img {
      height: auto; 
    }
  }
}
