.services-container {
  // padding: 5.556vw;
  background-color: #f9f9f9;
  text-align: center;

  h1 {
    color: #333;
    margin-bottom: 2rem;
    font-size: 2rem;

    @media (max-width: 600px) {
      font-size: 1.5rem;
    }
  }

  .grid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
      padding: 0 2rem;
    }
  }

  .services-grid {
    margin: 4.861vw 0;
    display: grid;
    padding: 0 10%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    justify-items: center;
    @media screen and (min-width: 1400px) {
        padding: 0 25rem;
      
    }

    .service-card {
      position: relative;
      overflow: hidden;
      width: 100%;
      max-width: 300px;
      border-radius: 10px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      height: auto;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
      }

      .service-content {
        position: absolute;
        left: 0;
        color: white;
        width: 100%;
        padding: 1rem;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
        text-align: center;
        transition: bottom 0.6s ease;
        opacity: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      &:hover .service-content {
        bottom: 0;
        opacity: 1;
      }

      h2 {
        display: block;
        background: linear-gradient(135deg, #A265FF 10%, #F88696 50%, #FBBA6E 90%, #FFE5B5 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.2vw;
        font-weight: 600;
        margin: 0;
      }

      &:hover .service-content {
        transform: translateY(0);
      }
    }
  }

  @media (max-width: 768px) {
    padding: 10px;

    .services-grid {
      display: flex;
      overflow-x: scroll;
      gap: 1rem;
      // padding: 1rem 0;
      scrollbar-width: none;
    }


    .service-card {
      min-width: 250px;
      margin-right: 1rem;
      height: auto;
    }
  }

  @media (max-width: 480px) {
    // .services-grid {
    //   grid-template-columns: 1fr;
    //   display: grid;
    // }

    .service-card img {
      height: auto;
      width: fit-content;
    }
  }
}
