@media screen and (min-width: 600px) {
    .phone {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .phone {
      display: flex;
      position: fixed;
      padding: 10px;
      flex-direction: flex-start;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      background-color: #0a0514;
      gap: 1rem;
      border-top: white 0.5px solid;
    }
  
    .navContainer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
      width: 100vw;
    }
  
    .section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      
      img {
        object-fit: contain;
        vertical-align: middle;
        margin-bottom: 15px;
      }
  
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  