.trust {
  background-color: #08071a;
  box-sizing: border-box; 

  .trustContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11.111vw 0; 
    gap: 40px;

    h1 {
      font-weight: 700;
      font-size: 1.667vw;
      color: wheat;
      gap: 1.111vw;
      text-align: center;
    }
  }


  @media (max-width: 1024px) {
    .trustContainer {
      padding: 8vw 0; 
    }

    h1 {
      font-size: 2.5vw;
    }
  }

  @media (max-width: 810px) {
    .trust{
      .trustContainer {
        padding: 5rem 0; 
        h1 {
          font-size: 10rem;
        }
      }  
    }
    
    
  }

  @media (max-width: 768px) {
    .trustContainer {
      padding: 4vw 0;
      h1 {
        font-size: 1rem;
    }
    }

   
  img{
    object-fit: contain;
  }
}
  @media (max-width: 480px) {
    .trustContainer {
      padding: 8vw 0;
      gap: 20px;
    }

    h1 {
      font-size: 5vw;
    }
  }
}
