.Solution {
  background-color: #080719;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 0;
  
  position: relative;

  .container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 6rem;
    background-color: #ffffff;
    z-index: 1;

    .shape {
      content: "";
      position: absolute;
      left: -25%;
      height: 330%;
      width: 150%;
      background-color: #080719;
      -webkit-clip-path: ellipse(37% 50%);
      clip-path: ellipse(37% 50%);
    }
  }

  h2 {
    background: linear-gradient(92deg, #A265FF -5.58%, #F88696 29.61%, #FBBA6E 64.81%, #FFE5B5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  h4 {
    color: white;
    margin-bottom: 2rem;
  }

  .solutionCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    .solutioncardimg {
      display: flex;
      // flex-wrap: nowrap;
      overflow-y: hidden;
      justify-content: flex-start;
      gap: 20px;
      overflow-x: auto;
      padding: 0.5rem;

      .img {
        position: relative;

        img {
          width: 240px;
          height: 435px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease;
          border-radius: 8px;
        }

        .imagedata {
          position: absolute;
          left: 0;
          color: white;
          width: 100%;
          padding: 1rem;
          background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
          text-align: center;
          transition: bottom 0.6s ease;
          opacity: 0;
          // bottom: -100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        &:hover .imagedata {
          top: 25%;
          opacity: 1;
        }

        h1 {
          display: block;
          background: linear-gradient(135deg, #A265FF 10%, #F88696 50%, #FBBA6E 90%, #FFE5B5 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 1.2vw;
          font-weight: 600;
          margin: 0;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #A265FF;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #080719;
  }

  @media screen and (max-width: 1080px) {
    .solutioncardimg {
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 1rem;
      padding: 0.5rem;
      scrollbar-width: none;
      overflow-y: hidden;
    }
    
    .img {
      width: 100%;
      height: auto;
    }

    h1 {
      font-size: 3vw;
    }
  }

}
