.home {
    background-color: #0a0514;
    padding: 6rem 5rem 0.5rem;
    font-family: "Inter", sans-serif;
  
    .header {
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin-top: 40px;
      gap: 100px;
  
      @media screen and (max-width: 1020px) {
        display: flex;
        flex-direction: column;
      }
  
      .left {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        h1 {
          font-size: 3rem;
          font-weight: bold;
          line-height: 51.2px;
          letter-spacing: 1px;
  
          span {
            background: linear-gradient(
              92deg,
              #a265ff -5.58%,
              #f88696 29.61%,
              #fbba6e 64.81%,
              #ffe5b5 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
  
        p {
          font-size: 1rem;
          font-weight: 500;
          margin: 2.5rem 0 1rem;
          color: #dcdcf0;
          line-height: 1.5rem;
        }
  
        ul {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
  
          @media screen and (max-width: 1020px) {
            display: flex;
            flex-direction: column;
          }
  
          li {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem;
  
            .tick-circle {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 2px solid white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              font-size: 14px;
              font-weight: bold;
            }
  
            h3 {
              font-size: 1rem;
              font-weight: 500;
              color: #dcdcf0;
            }
          }
        }
      }
  
      .right {
        video {
          width: 90%;
          height: 90%;
          object-fit: cover;
          @media screen and (max-width: 1294px) {
              width: 100%;
              height: auto;             
          }
        }
      }
    }
  
    .cards {
      padding: 1rem;
      margin-top: 5rem;
  
      .card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
        gap: 1rem;
        margin-bottom: 0;
        @media screen and (max-width: 1294px) {
            margin: 0;
            
        }
        @media screen and (max-width: 1080px) {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            scrollbar-width: none;
            padding: 0.5rem;
            
        }
  
        .carditem {
          border-radius: 0.5rem;
          background-color: #dcdcf0;
          padding: 10rem 1rem;
          font-size: 16px;
          margin: 1rem 0.5rem;
          width: auto;
          height: 16rem;
          text-align: center;
          display: flex;
          justify-content: center;
          font-weight: 700;
          flex-direction: column;
          align-items: center;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
            0 6px 20px rgba(0, 0, 0, 0.19);
          font-family: "Inter", sans-serif;
          gap: 0.5rem;
  
          span {
            background: linear-gradient(
              92deg,
              #a265ff -5.58%,
              #f88696 29.61%,
              #fbba6e 64.81%,
              #ffe5b5 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
  
          &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
            
          }
        }
      }
    }
  
    .container {
      position: relative;
      overflow: hidden;
      width: 100vw;
      height: 10rem;
      background-color: #0a0514;
      top: 150px;
      right: 80px;
  
      .shape {
        position: absolute;
        bottom: -14%;
        left: -25%;
        height: 280%;
        width: 150%;
        background: radial-gradient(
          ellipse at center,
          transparent 50%,
          #EAEAF4 51.3%,
        
        );
        
      }
    }
  }
  