*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #0A0514;
    width: 100%;
    position: fixed;
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    z-index: 1000;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbarleft{
            display: flex;
            gap: 3rem;
            img{
                @media screen and (max-width:960px){
                    display: none;
                }
                
            }
            ul {
                list-style: none;
                display: flex;
                color: white;
                justify-content: center;
                gap: 2rem;
                padding-left: 2rem;
                align-items: center;

                @media screen and (max-width:960px){
                    display: none;
                    
                }
                
            }
        }
        .navbarright{
            img{
                @media screen and (max-width:960px){
                    
                }
            }   
        }
    }
}
