.footer {
    background-color: #090909;
    color: white;
    padding: 80px;
  
    .footercontent {
      display: grid;
      grid-template-columns: 1fr 2fr;
  
      .footercontentleft {
        width: 360px;
        height: 280px;
  
        .logo {
          height: 25px;
          width: 150px; // Adjust logo width
        }
  
        p {
          font-size: 1rem; // Change to rem for readability
          font-weight: 400;
          line-height: 150%;
          margin-bottom: 1rem;
          margin-top: 1rem;
        }
  
        .leftimage {
          display: flex;
          gap: 20px;
        }
      }
  
      .leftcontentright {
        display: flex;
        justify-content: space-between;
        gap: 20px;
  
        .footercontentmiddle,
        .footercontentright {
          h1 {
            color: #c5c5d9;
            font-size: 1.1rem;
            font-weight: 700;
            margin-bottom: 1.5rem;
          }
  
          ul {
            list-style: none;
  
            li {
              color: #dcdcf0;
              font-size: 1rem;
              font-weight: 500;
              line-height: 100%;
              text-transform: capitalize;
              margin-bottom: 0.9rem;
              transition: color 0.3s ease;
  
              &:hover {
                color: #ffffff; /* Hover effect */
              }
            }
          }
        }
      }
    }
  
    @media screen and (max-width: 1000px) {
      padding: 30px; 
      .footercontent {
        .footercontentleft{
          width: auto;
          margin-right: 10px;
          p{
            font-size: small;
          }
        }
        .leftcontentright{
          display: flex;
          justify-content: space-evenly;
          .footercontentmiddle{
            h1{
              font-size: small;
            }
            ul{
              
              li{
                font-size: small;
              }
            }
          }
          .footercontentright{
            h1{
              font-size: small;
            }
            p{
              font-size: small;
            }
            
          }
        }
      }
    }
  
    @media screen and (max-width: 740px) {
      .leftcontentright .footercontentmiddle  {
        display: none; 
      }
      .footercontentright{
        display: none;
      }
  
      .footercontent {
        grid-template-columns: 1fr; 
      }
  
      p {
        font-size: 0.85rem; 
      }
    }
  
    @media screen and (min-width: 601px) {
      .leftcontentright {
        display: flex; 
      }
    }
  }
  