.footer{
    background-color: #090909;
    color: white;
    padding: 80px;
    .footercontent{
        display: grid;
        grid-template-columns: 1fr 2fr;
        .footercontentleft{
            width: 360px;
            height: 280px;
            .logo{
                // width: 328px;
                height: 25px;
            }
            p{
                font-size: 0.935vw;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                margin-bottom: 1.602vw;
                margin-top: 1.667vw;
            }
            .leftimage{
                display: flex;
                gap: 20px;
               
                }
            
        }
        .leftcontentright{
            display: flex;
            justify-content: space-between;
            gap: 20px;
                .footercontentmiddle{
                    padding-left: 2vw;
                    h1{
                        width: max-content;
                        color: #c5c5d9;
                        font-feature-settings: "clig" off, "liga" off;
                        font-size: 1.068vw;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 128%;
                        margin-bottom: 1.802vw;
                        list-style-type: none !important;
                    }
                    ul{
                        list-style: none;
                        li{
                            color: #dcdcf0;
                            font-feature-settings: "clig" off, "liga" off;
                            font-size: 0.935vw;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 100%;
                            text-transform: capitalize;
                            margin-bottom: 0.935vw;
                            list-style-type: none !important;
                            width: max-content;
                            transition: color 0.3s ease;
                        }

                    }
                }
                .footercontentright{
                    h1{
                        width: max-content;
                        color: #c5c5d9;
                        font-feature-settings: "clig" off, "liga" off;
                        font-size: 1.068vw;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 128%;
                        margin-bottom: 1.802vw;
                        list-style-type: none !important;
                    }
                    p{
                        color: #dcdcf0;
                            font-feature-settings: "clig" off, "liga" off;
                            font-size: 0.935vw;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 100%;
                            text-transform: capitalize;
                            margin-bottom: 0.935vw;
                            list-style-type: none !important;
                            width: max-content;
                            transition: color 0.3s ease;
                    }

                }
            
        }
    }
}